<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
	<%= image_tag 'alpha_logo.png' %>
	<p>Alpha Blog is a blog social media created by Nicholas</p>
	<%= link_to 'Home', root_path %>
<body>
	
</body>
</html>