<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
	<div align="center">
		<%= image_tag 'alpha_logo.png' %><br/>
		<h7>Alpha Blog is a blog social media created by Nicholas</h7>
		<%= link_to 'Home', root_path %>
	</div>
<body>
	
</body>
</html>