<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
	<!-- <%= link_to image_tag('alpha_logo.png'), 'about' %> -->
	<div class="center jumbotron">
		<h1>AlphaBlog</h1>
		<p>Welcome to the AlphaBlog</p>
		<!-- <p>Feel free to share your stories</p> -->
		<%= link_to 'Sign up now', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
	</div>
<body>
	
</body>
</html>
